body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
}

.web-content {
    margin-top: 130px;
}

a {
    text-decoration: none;
    color: #060606;
}

@media only screen and (max-width: 600px) {
    .web-content {
        margin-top: 165px;
    }
}